@font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/Inconsolata.eot');
    src: url('../assets/fonts/Inconsolata.eot') format('embedded-opentype'),
         url('../assets/fonts/Inconsolata.woff2') format('woff2'),
         url('../assets/fonts/Inconsolata.woff') format('woff'),
         url('../assets/fonts/Inconsolata.ttf') format('truetype'),
         url('../assets/fonts/Inconsolata.svg#Inconsolata') format('svg');
}
// default font face
$font: 'Inconsolata';
body, html {
    font-family: $font;
    width: 600px;
    height: 600px;
    overflow: hidden;
}
