#hintLink {
    color: tomato;
    text-decoration: none;
}

#hintText {
    font-style: italic;
}

dialog {
    top: 50px;
    padding: 25px 25px;
    text-align: left;
    border: 0;
    border-top: 10px solid tomato;
    position: fixed;
    width: 600px;
}

dialog::backdrop {
    background: rgba(84, 84, 84, 0.97);
}

.error {
    color: #FF2E2E;
    font-weight: bold;
}

#slForm {
    height: auto;
    padding: 25px 0 25px 0;
    input {
        display: block
    }
    button {
        background: tomato;
        border: 1px solid tomato;
        padding: 10px 20px 10px 20px;
        font-weight: bold;
    }
}

.sl-password {
    padding: 10px;
    box-sizing : border-box;
    border: 1px solid tomato;
}

.sl-password:focus {
    outline: none;
}

.row {
    display: block;
    margin-bottom: 10px;
}

.column {
    float: left
}

.clear {
    clear: both;
}

.one-third {
    width: 33.3%
}

.two-third {
    width: 66.6%
}