@font-face {
    font-family: 'Inconsolata';
    src: url('/assets/fonts/Inconsolata.eot');
    src: url('/assets/fonts/Inconsolata.eot') format('embedded-opentype'),
         url('/assets/fonts/Inconsolata.woff2') format('woff2'),
         url('/assets/fonts/Inconsolata.woff') format('woff'),
         url('/assets/fonts/Inconsolata.ttf') format('truetype'),
         url('/assets/fonts/Inconsolata.svg#Inconsolata') format('svg');
}

$font: 'Inconsolata';

// default fonts
h1, h2, h3, h4, h5, h6, label, span, input, p, ul {
    font-family: $font;
}

p {
    text-align: justify;
}

p, label, a {
    font-size: 12px;
}

label.mainLabel {
    color: tomato;
}

body {
    width: 800px;
    height: 600px;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

hr {
    border-color: tomato;
}

.title {
    color: tomato;
}

.row {
    display: block;
    padding-bottom: 10px;
}

.column {
    float: left
}

.clear {
    clear: both;
}

.one-third {
    width: 33.3%
}

.two-third {
    width: 66.6%
}

.ten {
    width: 10%;
}

.twenty {
    width: 20%
}

.eighty {
    width: 80%
}

.ninety {
    width: 90%
}

.content button,
.content button:hover {
    background: tomato!important;
    border: 1px solid tomato!important;
    color: #ffffff!important;
    cursor: pointer;
    text-shadow: none;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}

input[type='text'] {
    padding: 10px;
    box-sizing : border-box;
    border: 1px solid tomato;
}

.navigation {
    li {
        cursor: pointer;
        padding: 10px 0px 10px 0px;
        a {
            color: tomato;
            text-decoration: none;
            padding-left: 5px;
        }
    }
    .active {
        background: tomato;
        a {
            color: #ffffff;
        }
    }
}

.content {
    .settings-label {
        padding: 10px 0px 10px 0px;
    }
}

#basic, #forgot {
    padding-left: 10px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FF6347; border-radius: 16px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-family: $font; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #FF6347; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 13px; margin: 3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 66px;
    border: 2px solid #FF6347; border-radius: 16px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.comment {
    padding-top: 10px;
}

.hide {
    display: none;
}